---
import BaseLayout from "../layouts/baseLayout.astro";
---

<BaseLayout title="404">
	<div class="text-center">
		<h1 class="fw-bold">Welcome</h1>
		<p class="fw-bold fs-1 red-text text-darken-4">oops we can find what you're looking for</p>
	</div>
</BaseLayout>