---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Academics">
	<div class="text-center">
		<h1 class="fw-bold">Welcome</h1>
		<p>Content goes here inside the slot.</p>
	</div>
</BaseLayout>